body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
  font-size: var(--vscode-editor-font-size);
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tui-doc-contents {
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
}

img.zoom10 {
  max-width: 10% !important;
}

img.zoom25 {
  max-width: 25% !important;
}

img.zoom50 {
  max-width: 50% !important;
}

img.zoom75 {
  max-width: 75% !important;
}

img.zoom100 {
  max-width: 100% !important;
}
